// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Icon
  display: inline-block
  font: normal normal normal 24px / 1 "Material Design Icons"
  font-size: inherit
  font-style: normal
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

for $num in (1..length($materialDesignIconHexes))
  .Icon--{$materialDesignIconNames[$num]}
    &:before
      content: '\' + $materialDesignIconHexes[$num]