// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.panel
  +has(title)
    font-size: 1rem
    margin: 0
    padding: 0
    +variant(primary)
      color: $white
