// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.nav-icon
  +has(line)
    background-color: #fff
    height: .1875rem
    margin-top: .25rem
    width: 1.5rem
    +variant(first)
      margin-top: 0
