<!-- Sidebar Begin -->
<div class="Sidebar Sidebar--main">
	<v-user></v-user>
	<a class="Sidebar__featured" v-link="{ name: 'invoice.add' }">
		<div class="IconGroup">
			<div class="IconGroup__description">
				Create invoice
			</div>
			<i class="IconGroup__icon IconGroup__icon--align-right Icon Icon--plus-circle"></i>
		</div>
	</a>
	<v-menu></v-menu>
	<div class="Sidebar__clearfix--footer"></div>
	<v-footer
			:variants="footer.variants"
			:header="footer.header"
			:title="footer.title"
			:body="footer.body"
	>
		<a href="#" class="Banner Banner--green" slot="body">
			<div class="IconGroup">
				<div class="IconGroup__description">
					Go buy us a cup of coffee!
				</div>
				<i class="IconGroup__icon IconGroup__icon--align-right Icon Icon--coffee"></i>
			</div>
		</a>
	</v-footer>
</div>
<!-- Sidebar End -->