// Import
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"

.featured
  transition(100ms)
  background-color: #2196f3
  color: #fff
  cursor: pointer
  display: block
  font-size: 1rem
  font-weight: 600
  padding: 1.25rem 1rem
  text-decoration: none
  &:hover
    transition(100ms)
    background-color: #2090e6
