// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Notification
  position: absolute
  bottom: 1rem
  right: 1rem
  +variant(primary)
    color: #fff
    background-color: $primary
  +variant(success)
    color: #fff
    background-color: $success
  +variant(warning)
    color: #fff
    background-color: $warning
  +variant(danger)
    color: #fff
    background-color: $danger
  +variant(dark)
    color: #fff
    background-color: #333