// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

@keyframes timer {
  0% {
    width: 100%
  }
  100% {
    width: 0
  }
}

.Notification
  background-color: $white
  box-shadow: $box_shadow_normal
  display: block
  font-weight: 300
  margin-top: 1rem
  padding: 1rem
  &:first-child
    margin-top: 0

  +has(timer)
    animation: timer 5000ms infinite linear
    position: absolute
    top: 0
    left: 0
    height: .25rem
    background-color: $danger_dark
    +variant(primary)
      background-color: $primary_dark
    +variant(success)
      background-color: $success_dark
    +variant(warning)
      background-color: $warning_dark
    +variant(danger)
      background-color: $danger_dark
    +variant(dark)
      background-color: #333

  +has(content)
    display: inline-block
    vertical-align: middle

  +has(close)
    display: inline-block
    vertical-align: middle
    line-height: 1.5rem
    width: 1.5rem
    font-size: 1rem
    height: 1.5rem
    border-radius: 100%
    text-align: center

  +variant(primary)
    color: #fff
    background-color: $primary
  +variant(success)
    color: #fff
    background-color: $success
  +variant(warning)
    color: #fff
    background-color: $warning
  +variant(danger)
    color: #fff
    background-color: $danger
  +variant(dark)
    color: #fff
    background-color: #333