// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.NavIcon
  +has(line)
    margin-top: .25rem
    height: .1875rem
    width: 1.5rem
    background-color: #fff
    +variant(first)
      margin-top: 0