// Material Design Icons
@font-face
  font-family: "Material Design Icons"
  src: url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.eot")
  src: url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.eot?#iefix") format("embedded-opentype"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.woff2") format("woff2"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.woff") format("woff"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.ttf") format("truetype"),
    url("./../../assets/fonts/MaterialDesignIcons/MaterialDesignIcons.svg#materialdesigniconsregular") format("svg")
  font-weight: normal
  font-style: normal
