// Import
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"

.wrapper
  +variant(background-image)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 100vw
    height: 100vh
