// Import
@require "./../../../assets/stylus/helpers/spa-imports.styl"

.wrapper
  +variant(background-image)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 100vw
    height: 100vh
