// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Table
  box-shadow: $box_shadow_normal
  position: relative
  padding: 0
  width: 100%
  height: auto
  border-collapse: collapse
  text-align: center
  +has(row)
    text-align: left
    +variant(body)
      border-bottom: 1px solid #E0E0E0
      &:last-child
        border-bottom: none
  +has(col)
    text-align: left
    padding: .5rem 1rem
    +variant(body)
      font-weight: 300
    +variant(head)
      font-weight: 400
      padding: 1rem
    +variant(right)
      text-align: right
