// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Notify
  position: absolute
  bottom: 1rem
  right: 1rem
  +has(notification)
    display: block
    background-color: $white
    padding: 1rem 2rem
    box-shadow: $box_shadow_normal
    margin-top: 1rem
    &:first-child
      margin-top: 0