// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.icon-group
  +has(icon)
    display: inline-block
    vertical-align: middle
    +variant(align-right)
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
