// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.IconGroup
  +has(description)
    display: inline-block
    vertical-align: middle
    +variant(margin-right)
      margin-right: 1rem
    +variant(margin-left)
      margin-left: 1rem