// Import
@require "./../../../assets/stylus/helpers/spa-imports.styl"

.figure
  +variant(logo)
    transition(100ms)
    background-color: #192226
    cursor: pointer
    display: inline-block
    height: 3.75rem
    overflow: hidden
    padding: 1rem
    text-align: center
    text-decoration: none
    vertical-align: middle
    &:hover
      transition(100ms)
      background-color: #222d33
