<!-- Header Begin -->
<div class="Header Header--main">
	<div class="Header__sidebar">
		<div class="Header__nav-icon NavIcon">
			<div class="NavIcon__line NavIcon__line--first"></div>
			<div class="NavIcon__line NavIcon__line--second"></div>
			<div class="NavIcon__line NavIcon__line--third"></div>
		</div>
	</div>
	<div class="Header__actions">
		<a v-link="{name : 'account.show'}" class="Header__action">
			<i class="Icon Icon--account-circle"></i>
		</a>
		<a href="#" class="Header__action">
			<i class="Icon Icon--logout"></i>
		</a>
	</div>
</div>
<!-- Header End -->