// Import
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"

.clearfix
  +variant(footer)
    &:before
      content: ''
      display: block
      height: 93px
      width: 100%
