// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.header
  +has(actions)
    display: inline-block
    float: right
    margin: 1rem 1rem 1rem 0
    vertical-align: middle
