// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Footer
  +has(title)
    +variant(sidebar)
      color: #fff
      font-size: 1.25rem
      font-weight: 300
      margin: 0
      padding: 0
