// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.header
  +has(action)
    color: #fff
    cursor: pointer
    font-size: 1.5rem
    line-height: 1.75rem
    margin-left: 1rem
    text-decoration: none
