// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.figure
  +has(description)
    +variant(logo)
      transition(100ms)
      color: #fff
      display: inline-block
      font-weight: 100
      margin-left: .5rem
      vertical-align: middle
