// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.breadcrumb
  +has(item)
    display: inline-block
    &:after
      content: '\F142'
      display: inline-block
      font: normal normal normal 24px / 1 "Material Design Icons"
      font-weight: 100
      vertical-align: middle
    &:last-child:after
      display: none
