<tbody :class="bodyClass">

    <tr is="v-table-row"
        :columns="columns"
        :variants="row.variants"
        :cell="row.cell"
        :is-body="true"
        :has-actions="hasActions"
        :item="item"
        :not-found="notFound"
        v-for="item in items"
    ></tr>

    <tr
        v-if="items.length === 0"
        is="v-table-row"
        :columns="columns"
        :variants="row.variants"
        :cell="row.cell"
        :is-body="true"
        :has-actions="hasActions"
        :not-found="notFound"
        :not-found-col-span="notFoundColSpan"
    ></tr>

</tbody>