// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

@keyframes timer {
  0% {
    width: 100%
  }
  100% {
    width: 0
  }
}

.Notification
  +has(timer)
    animation: timer 5000ms infinite linear
    position: absolute
    top: 0
    left: 0
    height: .25rem
    +variant(primary)
      background-color: $primary_dark
    +variant(success)
      background-color: $success_dark
    +variant(warning)
      background-color: $warning_dark
    +variant(danger)
      background-color: $danger_dark
    +variant(dark)
      background-color: #000