<div class="Page">
	<div class="Page__header">
		<h1 class="Page__title">
			Customer Overview
		</h1>
	</div>
	<ul class="Breadcrumb">
		<li class="Breadcrumb__item">
			<a class="Breadcrumb__link" href="#">
				Home
			</a>
		</li>
		<li class="Breadcrumb__item">
			<a class="Breadcrumb__link" v-link="{name: 'customer.index'}">
				Customers
			</a>
		</li>
		<li class="Breadcrumb__item">
			Customer Overview
		</li>
	</ul>
	<div class="Page__content">
		<table class="Table Table--primary">
			<thead class="Table__head Table__head--primary">
			<tr class="Table__row Table__row--head Table__row--primary">
				<th class="Table__col Table__col--head Table__col--primary">
					<span class="Table__head-title">Name</span>
					<a class="Table__head-sort">
						<i class="Table__head-sort-icon Icon Icon--menu-up"></i>
					</a>
				</th>
				<th class="Table__col Table__col--head Table__col--primary">
					<span class="Table__head-title">Customer number</span>
					<a class="Table__head-sort">
						<i class="Table__head-sort-icon Icon Icon--menu-up"></i>
					</a>
				</th>
				<th class="Table__col Table__col--head Table__col--primary">
					<span class="Table__head-title">Email address</span>
					<a class="Table__head-sort">
						<i class="Table__head-sort-icon Icon Icon--menu-up"></i>
					</a>
				</th>
				<th class="Table__col Table__col--head Table__col--primary" colspan="2">
					<span class="Table__head-title">Phone number</span>
					<a class="Table__head-sort">
						<i class="Table__head-sort-icon Icon Icon--menu-up"></i>
					</a>
				</th>
			</tr>
			</thead>
			<tbody class="Table__body Table__body--primary">
			<tr class="Table__row Table__row--body Table__row--primary">
				<td class="Table__col Table__col--body Table__col--primary">
					Vivid Websolutions
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					00124
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					info@vivid-websolutions.nl
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					06 - 534 821 83
				</td>
				<td class="Table__col Table__col--body Table__col--primary Table__col--right">
					<a href="#" class="Action Action--primary">
						<i class="Action__icon Icon Icon--dots-horizontal"></i>
					</a>
				</td>
			</tr>
			<tr class="Table__row Table__row--body Table__row--primary">
				<td class="Table__col Table__col--body Table__col--primary">
					Vivid Websolutions
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					00124
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					info@vivid-websolutions.nl
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					06 - 534 821 83
				</td>
				<td class="Table__col Table__col--body Table__col--primary Table__col--right">
					<a href="#" class="Action Action--primary">
						<i class="Action__icon Icon Icon--dots-horizontal"></i>
					</a>
				</td>
			</tr>
			<tr class="Table__row Table__row--body Table__row--primary">
				<td class="Table__col Table__col--body Table__col--primary">
					Vivid Websolutions
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					00124
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					info@vivid-websolutions.nl
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					06 - 534 821 83
				</td>
				<td class="Table__col Table__col--body Table__col--primary Table__col--right">
					<a href="#" class="Action Action--primary">
						<i class="Action__icon Icon Icon--dots-horizontal"></i>
					</a>
				</td>
			</tr>
			<tr class="Table__row Table__row--body Table__row--primary">
				<td class="Table__col Table__col--body Table__col--primary">
					Vivid Websolutions
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					00124
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					info@vivid-websolutions.nl
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					06 - 534 821 83
				</td>
				<td class="Table__col Table__col--body Table__col--primary Table__col--right">
					<a href="#" class="Action Action--primary">
						<i class="Action__icon Icon Icon--dots-horizontal"></i>
					</a>
				</td>
			</tr>
			<tr class="Table__row Table__row--body Table__row--primary">
				<td class="Table__col Table__col--body Table__col--primary">
					Vivid Websolutions
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					00124
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					info@vivid-websolutions.nl
				</td>
				<td class="Table__col Table__col--body Table__col--primary">
					06 - 534 821 83
				</td>
				<td class="Table__col Table__col--body Table__col--primary Table__col--right">
					<a href="#" class="Action Action--primary">
						<i class="Action__icon Icon Icon--dots-horizontal"></i>
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>