<v-layout>

  <v-page
    :header="page.header"
  >
    <v-breadcrumb
      slot="breadcrumb"
      :items="breadcrumb.items"
    ></v-breadcrumb>

    <div
      slot="body"
    >
      <table>
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Building number
          </th>
          <th>
            Postcode
          </th>
          <th>
            City
          </th>
          <th>
            Country
          </th>
          <th>
            Email
          </th>
          <th>
            Telephone
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="customer in customers"
        >
          <td>
            {{customer.name}}
          </td>
          <td>
            {{customer.buildingNumber}}
          </td>
          <td>
            {{customer.postcode}}
          </td>
          <td>
            {{customer.city}}
          </td>
          <td>
            {{customer.country}}
          </td>
          <td>
            {{customer.email}}
          </td>
          <td>
            {{customer.telephone}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </v-page>

</v-layout>
