.Breadcrumb
  display: block
  list-style: none
  padding: 0
  margin: 0
  margin-bottom: 1rem
  +has(item)
    display: inline-block
    vertical-align: middle
    &:after
      display: inline-block
      font: normal normal normal 24px / 1 "Material Design Icons"
      font-weight: 100
      content: '\f238'
      vertical-align: middle
    &:last-child:after
      display: none
  +has(link)
    transition(100ms)
    color: #192226
    text-decoration: none
    &:hover
      transition(100ms)
      color: #1E88E5