.Button
  transition(100ms)
  box-shadow: $box_shadow_normal
  display: inline-block
  text-decoration: none
  padding: 0 1rem
  height: 3rem
  font-size: 1rem
  line-height: 2.6875rem
  border: none
  border-bottom: 0.3125rem solid transparent
  &:hover
    transition(100ms)

  +variant(primary)
    color: #fff
    background-color: $primary
    border-bottom-color: $primary_dark
  +variant(success)
    color: #fff
    background-color: $success
    border-bottom-color: $success_dark
  +variant(warning)
    color: #fff
    background-color: $warning
    border-bottom-color: $warning_dark
  +variant(danger)
    color: #fff
    background-color: $danger
    border-bottom-color: $danger_dark
  +variant(dark)
    color: #fff
    background-color: #333
    border-bottom-color: #000

  +variant('block')
    display: block
    width: 100%
