.Button
  transition(100ms)
  box-shadow: $box_shadow_normal
  display: inline-block
  text-decoration: none
  padding: 0 1rem
  height: 3rem
  font-size: 1rem
  line-height: 3rem
  border: none
  &:hover
    transition(100ms)

  +variant(primary)
    color: #fff
    background-color: $primary
  +variant(success)
    color: #fff
    background-color: $success
  +variant(warning)
    color: #fff
    background-color: $warning
  +variant(danger)
    color: #fff
    background-color: $danger
  +variant(dark)
    color: #fff
    background-color: #333

  +variant('block')
    display: block
    width: 100%
