.Figure
  +has(image)
    +variant(logo)
      display: inline-block
      height: 100%
      vertical-align: middle
  +has(description)
    +variant(logo)
      transition(100ms)
      opacity: 0
      color: #fff
      margin-left: .5rem
      display: inline-block
      width: 0
      font-weight: 100
      vertical-align: middle
