.Form
  +has(group)
    display: block
    margin-bottom: 1rem
    &:last-child
      margin-bottom: 0
  +has(control)
    display: block
    background-color: #fff
    padding: 1rem
    font-weight: 300
    border: none
    width: 100%
    &:focus
      outline: none