.Icon
  display: inline-block
  font: normal normal normal 24px / 1 "Material Design Icons"
  font-size: inherit
  font-style: normal
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)

for $num in (1..length($materialDesignIconHexes))
  .Icon--{$materialDesignIconNames[$num]}
    &:before
      content: '\' + $materialDesignIconHexes[$num]