.InputGroup
  box-shadow : $box_shadow_normal
  display: block
  +has(addon)
    display: inline-block
    padding: 1rem
    vertical-align: middle
    background-color: #fff
    text-align: center
    margin-right: -4px
    font-size: 1rem
  +has(control)
    display: inline-block
    vertical-align: middle
    padding-left: 0
    width: calc(100% - 3rem)