.InputGroup
  box-shadow: $box_shadow_normal
  display: block
  +has(addon)
    display: inline-block
    padding: 1rem
    vertical-align: middle
    background-color: #333
    color: #fff
    text-align: center
    margin-right: -4px
    font-size: 1rem
    line-height: 1rem
    height: 3rem
  +has(control)
    box-shadow: none
    display: inline-block
    vertical-align: middle
    width: calc(100% - 3rem)