.NavIcon
  transition(100ms)
  background-color: #192226
  display: inline-block
  &:hover
    transition(100ms)
    background-color: #222d33
  +has(line)
    margin-top: .25rem
    height: .1875rem
    width: 1.5rem
    background-color: #fff
    +variant(first)
      margin-top: 0