.Pagination
  box-shadow: $box_shadow_normal
  display: inline-block
  padding: 0
  margin: 0
  margin-top: 1rem
  list-style: none
  +has(item)
    display: inline-block
    &:last-child
      margin-right: 0
  +has(link)
    transition(100ms)
    cursor: pointer
    display: inline-block
    vertical-align: middle
    color: $black
    background-color: $white
    width: 2rem
    height: 2rem
    font-size: 1rem
    line-height: 2rem
    text-align: center
    text-decoration: none
    &:hover
      transition(100ms)
      color: $white
      background-color: $primary

    +variant(active)
      background-color: $black
      color: $white