// Import
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"

.banner
  cursor: pointer
  display: block
  font-size: 0.875rem
  padding: 0.5rem 1rem
  text-decoration: none
  +variant('green')
    background-color: #4caf50
    color: #fff
