// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.user
  +has(item)
    +variant(sidebar)
      color: #fff
      display: block
      font-weight: 100
