// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.user
  +has(information)
    +variant(sidebar)
      display: inline-block
      padding-left: 1rem
      vertical-align: middle
