// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.footer
  +has(title)
    +variant(sidebar)
      color: #fff
      font-size: 1.25rem
      font-weight: 300
      margin: 0
      padding: 0
