// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Table
  +has(cell)
    text-align: left
    padding: .5rem 1rem
    +variant(body)
      font-weight: 300
    +variant(head)
      font-weight: 400
      padding: 1rem
    +variant(right)
      text-align: right