// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Content
  +variant(main)
    display: inline-block
    min-height: calc(100vh - 3.75rem)
    position: relative
    width: calc(100% - 20rem)
    vertical-align: top