// Material Design Icons
@font-face
  font-family: "Material Design Icons"
  src: url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.eot")
  src: url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.eot?#iefix") format("embedded-opentype"),
          url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.woff2") format("woff2"),
          url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.woff") format("woff"),
          url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.ttf") format("truetype"),
          url("/fonts/MaterialDesignIcons/materialdesignicons-webfont.svg#materialdesigniconsregular") format("svg")
  font-weight: normal
  font-style: normal