// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.user
  +has(action)
    cursor: pointer

    +variant(sidebar)
      color: #fff
      font-weight: 500
      text-decoration: none
