// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.header
  +has(sidebar)
    background-color: #192226
    display: inline-block
    margin-right: -4px
    min-height: 3.75rem
    vertical-align: middle
    width: 20rem
