// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Table
  +has(sort)
    display: inline-block
    margin-right: .5rem
    font-size: 1.5rem
    vertical-align: middle