// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.panel
  +has(body)
    background-color: $white
    padding: 1rem
