// Imports
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/settings/variables.styl"

.notification
  +has(close)
    color: $white
    position: absolute
    right: 1rem
    cursor: pointer
