// Imports
@require "./../../../assets/stylus/helpers/spa-imports.styl"

.notification
  position: relative
  display: block
  padding: 1rem
  color: $white
  margin-bottom: 1rem
  +variant(primary)
    background-color: $primary
  +variant(success)
    background-color: $success
  +variant(danger)
    background-color: $danger
  +variant(warning)
    background-color: $warning
