/*
 * Name:        Vivid Finance
 * Description: A simple to use finance program build with Laravel and Vue.js
 * Author:      Peter van Meijgaard <peter@vivid-websolutions.nl>
 * Version:     0.0.0
 * Tags:        Vivid, Websolutions, Finance, Vue, Laravel, Invoice
 *
 * -----------------------------------------------------------------
 *
 * Table of Contents:
 *  1. Imports
 *  2. Packages
 *  3. Variables
 *  4. Mixins
 *  5. Functions
 *  6. Overall
 *  7. Components
 */