// Imports
@import "./../../../stylus/settings/variables.styl"
@import "./../../../stylus/mixins/bem.styl"
@import "./../../../stylus/mixins/transition.styl"
@import "./../../../stylus/functions/opacity.styl"

.Breadcrumb
  display: block
  list-style: none
  margin: 0
  margin-bottom: 1rem
  padding: 0