<v-layout
  :background="layout.background"
>
  <v-panel
    :title="panel.title"
    :header="panel.header"
    :body="panel.body"
    :variants="panel.variants"
  >
    <form class="Form"
          @submit.prevent="login(user)"
    >
      <div class="Row">
        <div class="Col Col--md">
          <div class="Form__group">
            <input
              type="email"
              class="Form__control Form__control--minimal"
              placeholder="Email"
              v-model="user.email"
            />
          </div>
          <div class="Form__group">
            <input
              type="password"
              class="Form__control Form__control--minimal"
              placeholder="Password"
              v-model="user.password"
            />
          </div>
        </div>
      </div>
      <div class="Row">
        <div class="Col Col--md-3">
          <div class="Form__group Form__group--inline">
            <button
              class="Button Button--primary"
              type="submit"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </form>
  </v-panel>
</v-layout>
