<v-layout
  :background="layout.background"
>
  <form
    class="form form--transparent"
    @submit.prevent="login(user)"
  >
    <div class="form__group">
      <div class="input-group">
        <label
          class="input-group__addon"
          for="email"
        >
          <v-icon
            :variants="['email']"
          ></v-icon>
        </label>
        <input
          class="input-group__input input input--input-group"
          placeholder="Email"
          type="email"
          id="email"
          v-model="user.email"
        >
      </div>
    </div>
    <div class="form__group">
      <div class="input-group">
        <label
          class="input-group__addon"
          for="password"
        >
          <v-icon
            :variants="['lock']"
          ></v-icon>
        </label>
        <input
          class="input-group__input input input--input-group"
          placeholder="Password"
          type="password"
          id="password"
          v-model="user.password"
        >
      </div>
    </div>
    <div class="form--group">
      <button
        class="button button--primary"
      >
        Login
      </button>
    </div>
  </form>
</v-layout>
