// Sizing
$rem_size = 16px

// Colors
$white = #fff
$dark_white = #ececec
$black = #333

$default_light = #F5F5F5
$default = #9E9E9E
$default_dark = #212121

$primary_light = #E3F2FD
$primary = #2196F3
$primary_dark = #0D47A1

$danger_light = #FFEBEE
$danger = #f44336
$danger_dark = #B71C1C

$info_light = #E1F5FE
$info = #03A9F4
$info_dark = #01579B

$success_light = #E8F5E9
$success = #4CAF50
$success_dark = #1B5E20

$warning_light = #FFF3E0
$warning = #FF9800
$warning_dark = #b36b00

// Dropshadow
$box_shadow_minimum = 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
$box_shadow_normal = 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
$box_shadow_medium = 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
$box_shadow_large = 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
$box_shadow_maximum = 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)