// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Panel
  +has(header)
    padding: 1rem
    +variant(primary)
      background-color: $primary