<div class="User User--sidebar">
	<div class="User__figure User__figure--sidebar">
		<img class="User__image User__image--sidebar"
			 src="/img/avatars/5537701.jpg">
		<div class="User__information User__information--sidebar">
			<div class="User__header User__header--sidebar">
				<h3 class="User__title User__title--sidebar">
					Peter van Meijgaard
				</h3>
			</div>
			<div class="User__body User__body--sidebar">
				<div class="User__item User__item--sidebar">
					petervmeijgaard
				</div>
				<div class="User__item User__item--sidebar">
					Owner
				</div>
			</div>
		</div>
	</div>
	<div class="User__actions User__actions--sidebar">
		<div class="Row">
			<div class="Col Col--md">
				<a class="User__action User__action--sidebar IconGroup"
				   v-link="{ name :'account.show' }">
					<i class="IconGroup__icon Icon Icon--account-circle"></i>
						<span class="IconGroup__description IconGroup__description--margin-left">
							My account
						</span>
				</a>
			</div>
			<div class="Col Col--md">
				<a class="User__action User__action--sidebar IconGroup" href="#">
						<span class="IconGroup__description IconGroup__description--margin-right">
							Logout
						</span>
					<i class="Icon Icon--sign-out IconGroup__icon Icon--logout"></i>
				</a>
			</div>
		</div>
	</div>
</div>