// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Breadcrumb
  +has(item)
    display: inline-block
    vertical-align: middle
    &:after
      content: '\f238'
      display: inline-block
      font: normal normal normal 24px / 1 "Material Design Icons"
      font-weight: 100
      vertical-align: middle
    &:last-child:after
      display: none