/*
 * Name:        Vivid Finance
 * Description: A simple to use finance program build with Laravel and Vue.js
 * Author:      Peter van Meijgaard <peter@vivid-websolutions.nl>
 * Version:     0.0.0
 * Tags:        Vivid, Websolutions, Finance, Vue, Laravel, Invoice
 *
 * -----------------------------------------------------------------
 *
 * Table of Contents:
 *  1. Imports
 *    1.1 Roboto
 *    1.2 Material Design Icons
 *  2. Packages
 *    2.1 Normalize
 *    2.2 Flexbox grid  .Grid
 *                      .Row
 *                      .Col
 *  3. Variables
 *  4. Mixins
 *  5. Functions
 *  6. Overall
 */

/*
 *  1. Imports
 *    1.1 Roboto
 *    1.2 Material Design Icons
 */
@import "./imports/roboto.styl"
@import "./imports/material-design-icons.styl"

/*
 *  2. Packages
 *    2.1 Normalize
 *    2.2 Flexbox grid  .Grid
 *                      .Row
 *                      .Col
 */
@import "./lib/normalize.styl"
@import "./../vendor/flexbox-grid-stylus/stylus/flexbox-grid.styl"

/*
 *  3. Variables
 */
@import "./settings/variables.styl"

/*
 *  4. Mixins
 */
@import "./mixins/bem.styl"
@import "./mixins/transition.styl"

/*
 *  5. Functions
 */
@import "./functions/opacity.styl"

/*
 *  6. Overall
 */
@import "./settings/overall.styl"
