// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.footer
  +has(header)
    display: block
    +variant(sidebar)
      background-color: #222d33
      padding: 1.125rem 1rem
