// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"
@import "./../../../assets/stylus/functions/opacity.styl"

.header
  +variant(main)
    background-color: #222d33
    display: block
    min-height: 3.75rem
    width: 100%
