// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.icon-group
  +has(description)
    display: inline-block
    vertical-align: middle
    +variant(margin-right)
      margin-right: 1rem
    +variant(margin-left)
      margin-left: 1rem
