// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/bem.styl"
@import "./../../../assets/stylus/mixins/transition.styl"
@import "./../../../assets/stylus/functions/opacity.styl"

.breadcrumb
  display: block
  list-style: none
  margin: 0
  margin-bottom: 1rem
  padding: 0
