@import "../mixins/bem.styl"

.form
  width: 100%
  padding: 1rem
  +variant("transparent")
    background-color: rgba(255, 255, 255, 0.5)
  +has("group")
    padding-bottom: 1rem
    &:last-child
      padding-bottom: 0
