@import "../mixins/bem.styl"

.input-group
  +has(addon)
    width: 3rem
    display: inline-block
    position: absolute
    background-color: #FF9800
    padding: .5rem .75rem
    font-size: 1.25rem
    line-height: 2rem
    text-align: center
    color: #fff
    height: 3rem
  +has(input)
    margin-left: 3rem
    width: calc(100% - 3rem)
    display: inline-block
    padding: .5rem .75rem
    font-size: 1rem
    border: none
    height: 3rem
    outline: none
