// Imports
@import "./../../../../stylus/settings/variables.styl"
@import "./../../../../stylus/mixins/bem.styl"
@import "./../../../../stylus/mixins/transition.styl"
@import "./../../../../stylus/functions/opacity.styl"

.Menu
  +has(item)
    transition(100ms)
    color: #fff
    display: block
    text-decoration: none
    padding: 1rem 1rem 1rem .75rem
    border-left: .25rem solid transparent
    font-weight: 300
    &:hover
      transition(100ms)
      background-color: #222d33
    +variant(active)
      border-left-color: #2196f3