<ul class="Pagination">
	<li class="Pagination__item">
		<a class="Pagination__link" @click.prevent="firstPage">
			<v-icon
					:variants="['chevron-double-left']"
			></v-icon>
		</a>
	</li>
	<li class="Pagination__item">
		<a class="Pagination__link" @click.prevent="previousPage">
			<v-icon
					:variants="['chevron-left']"
			></v-icon>
		</a>
	</li>
	<li class="Pagination__item" v-for="page in pagination.total_pages">
		<a @click.prevent="toPage(page+1)"
		   class="Pagination__link Pagination__link--active"
		   :class="{ 'Pagination__link--active' : (page + 1) === pagination.current_page }"
		>
			{{ page + 1 }}
		</a>
	</li>
	<li class="Pagination__item">
		<a class="Pagination__link" @click.prevent="nextPage">
			<v-icon
				:variants="['chevron-right']"
			></v-icon>
		</a>
	</li>
	<li class="Pagination__item">
		<a class="Pagination__link" @click.prevent="lastPage">
			<v-icon
					:variants="['chevron-double-right']"
			></v-icon>
		</a>
	</li>
</ul>