// Imports
@require "./../../../../assets/stylus/helpers/spa-imports.styl"

.breadcrumb
  +has(link)
    transition(100ms)
    color: #192226
    cursor: pointer
    display: inline-block
    text-decoration: none
    &:hover
      transition(100ms)
      color: #1E88E5
