// Imports
@import "./../../../../assets/stylus/settings/variables.styl"
@import "./../../../../assets/stylus/mixins/bem.styl"
@import "./../../../../assets/stylus/mixins/transition.styl"
@import "./../../../../assets/stylus/functions/opacity.styl"

.menu
  +has(item)
    transition(100ms)
    border-left: .25rem solid transparent
    color: #fff
    display: block
    font-weight: 300
    padding: 1rem 1rem 1rem .75rem
    text-decoration: none
    &:hover
      transition(100ms)
      background-color: #222d33
    +variant(active)
      border-left-color: #2196f3
